{% extends "lang_app/base.html" %}

{% block main %}

    {% comment %}
    <!--<h1>Register For Rango</h1>-->
    <!--{% if registered %}-->
        <!--<strong>Thank you for registering!</strong>-->
        <!--<a href="{% url 'index' %}">Return to the homepage</a>-->

    <!--{% else %}-->
        <!--Rango says: <strong>Register here!</strong>-->

        <!--<form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">-->
            <!--{% csrf_token %}-->

            <!--&lt;!&ndash;Display each form&ndash;&gt;-->
            <!--{% for field in user_form %}-->
                <!--{{ field.label }} {{ field }}<br>-->
            <!--{% endfor %}-->


        <!--&lt;!&ndash;Provide button to click to submit the form&ndash;&gt;-->
        <!--<input type="submit" name="submit" value="Register">-->
        <!--</form>-->
    <!--{% endif %}-->
    {% endcomment%}



    <h1>Register here</h1>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>







{% endblock %}
