<!doctype html>
{% load staticfiles %}

<html lang="en">

<head>
  <title>LangApp | Home</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="{% static 'css/material-kit.css' %}" rel="stylesheet" />

</head>


<body>


  <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/">LangApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <li>{{ user }}</li>
            {% endif %}
          <li class="nav-item">
              {% if user.is_authenticated %}
            <a href="{% url 'user_logout' %}" class="nav-link">Logout</a>
              {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="page-header header-filter" data-parallax="true" style="background-image: url({% static 'img/blurred.jpg' %})">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>LangApp</h1>

              {% block main %}
                    There should be some stuff here
              {% endblock %}

          </div>
        </div>
      </div>
    </div>
  </div>

<!--   Core JS Files   -->
<script src="{% static 'js/core/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/core/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/plugins/moment.min.js' %}"></script>

<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<!--<script src="static/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>-->

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<!--<script src="static/js/plugins/nouislider.min.js" type="text/javascript"></script>-->

<!--	Plugin for Sharrre btn -->
  <script src="{% static 'js/plugins/jquery.sharrre.js' %}" type="text/javascript"></script>

<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/material-kit.min.js' %}" type="text/javascript"></script>

  <script>
  /*
  $('#hint-ajax').click(function(){
      var card_id = {{ question_number }};
      var shown_words = $('#hint-words').text();
      $.get('/lang-app/get-hint', {card_id: card_id, shown_words: shown_words}, function(word){
        $('#hint-words').text(shown_words + " " + word);
      })
  })
*/
/*
  <!--$(".traffic-light").click(function(){-->
    <!--var id = $(this).attr('id');-->
    <!--$("#button-value").attr('value', id.split('-')[1]);-->
    <!--$("#question-form").submit();-->
  <!--});-->
*/

  /* One each keyboard press of the input box check if they have typed the correct */



  var dict = {
    {% for lem_item in lem_items %}
        "{{lem_item.word}}": "{{lem_item.lem}}",
    {% endfor %}
  };

  $('#answer-box').keypress(function(event){

    // read in the text from the input box
    var typed = $('#answer-box').val();

    // split it into words
    var words = typed.split(" ");
    console.log(words);

    // if any of the words are the actual words, grey then out the buttons
    for (var key in dict){
      if (words.includes(key)){
        $('#lem-' + dict[key]).attr('class', 'btn btn-outline-success btn-sm');
      } else {
         $('#lem-' + dict[key]).attr('class', 'btn btn-outline-primary btn-sm');
      }
    }
  });







  </script>

<!--css overrides to make sure that the input text lines up with the rest of the text-->
  <style>

  .bmd-form-group .bmd-label-floating,
  .bmd-form-group .bmd-label-placeholder {
      top: 2.2rem;
      left: 5px;
  }

  .is-focused .bmd-label-floating,
    .is-filled .bmd-label-floating {
      top: 16px;
      left: 0px;
      font-size: 0.6875rem;
    }


  </style>


</body>

</html>