{% extends "lang_app/base.html" %}

{% block main %}

    {% if user.is_authenticated %}
    <!--they will see the main application-->

        <!--The question card -->
        <div class="card" style="height: 100%;">
          <div class="card-body">

            <form id="question-form" action="/" method="post">
              {% csrf_token %}

              <h4 class="card-title" style="margin-bottom: 20px;">{% if question_data.a %} {{ question_data.a }} {% endif %}

                <div class="form-group" style="display: inline-block;">
                  <label id='floating-label' for="answer-box" class="bmd-label-floating">{{ question_data.b }}</label>
                  <input type="text" class="form-control" id="answer-box" name="user_answer" size="{{ question_data.b | length }}" autocomplete="off">
                  <span class="bmd-help">Translate into English</span>
                </div>

                {% if question_data.c %} {{ question_data.c }} {% endif %}
              </h4>

              <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-4">-->
                      <!--<span id="hint-ajax" class="pull-left">hint</span><br>-->
                      <!--<div id="hint-words" class="pull-left"></div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4">-->
                      <!--<button class="btn btn-primary btn-round" type="submit">submit</button>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4">-->
                      <!--&lt;!&ndash; Nothing in here yet&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
              <!--</div>-->

                <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                      {% for word in required_words %}
                        <strong>{{ word }}</strong><br>
                      {% endfor %}
                    </div>
                    <div class="col-sm-4">
                      <button class="btn btn-primary btn-round" type="submit">submit</button>
                    </div>
                    <div class="col-sm-4">
                      <!-- Nothing in here yet-->
                    </div>
                </div>
              </div>

                <input type="hidden" name="question_number" value="{{ question_number }}">
                <input type="hidden" name="second_post" value="False">

            </form>


          </div>
        </div>

        <!-- The answer card -->
        {% if show_answer %}
        <div class="card" style="height: 100%;">

          {% if correct_bool %}
           <div class="card-header-success">
             <h4 class="card-title">Correct!</h4>
           </div>
          {% else %}
            <div class="card-header-danger">
             <h4 class="card-title">Wrong!</h4>
           </div>
          {% endif %}


            <!--<form action="/" method="post">-->
                 <!--{% csrf_token %}-->


              <div class="card-body">

                <h4 style="margin-bottom: 20px;">
                    Your answer: <strong>{{ user_answer }}</strong><br>
                    Correct answer: <strong>{{ chunk }}</strong>
                    <br>
                    <br>

                    <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                          <!--{% for word in required_words %}-->
                            <!--{{ word }}-->
                          <!--{% endfor %}-->
                        </div>
                        <div class="col-sm-8">
                          <div class="row">
                              <a href="{% url 'index' %}?question_number={{ question_number }}">next</a>
                            <!--<button name="rating" class="traffic-light btn btn-success btn-round" type="submit" value="1">-->
                                <!--easy</button>-->
                            <!--<button name="rating" class="traffic-light btn btn-round" type="submit" style="background-color:#fcf949;" value="2" >-->
                                <!--easier</button>-->
                            <!--<button name="rating" class="traffic-light btn btn-warning btn-round" type="submit" value="3">-->
                                <!--medium</button>-->
                            <!--<button name="rating" class="traffic-light btn btn-danger btn-round" type="submit" value="4">-->
                                <!--hard</button>-->
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <!-- Nothing in here yet-->
                        </div>
                    </div>
                  </div>

                </h4>

                <!--<a href="/?question_number={{ question_number }}&answered_correctly={{ correct_bool }}"><button class="btn btn-primary btn-round">next card</button></a>-->

              </div>
                <!--<input type="hidden" name="question_number" value="{{question_number}}">-->
                <!--<input type="hidden" name="answered_correctly" value="{{ correct_bool }}">-->
                <!--<input type="hidden" name="second_post" value="True">-->

            <!--</form>-->
        </div>
        {% endif %}

    {% else %}
        <!--If the user is not authenticated, they are asked to login or register -->
        <br>
        <br>
        <a href="{% url 'registration_register' %}"><button class="btn btn-primary btn-round" type="button">Register</button></a>
        <a href="{% url 'auth_login' %}"><button class="btn btn-primary btn-round" type="button">Sign in</button></a>
    {% endif %}
{% endblock %}
