{% extends "lang_app/base.html" %}

{% block main %}

    {% if user.is_authenticated %}
    <!--they will see the main application-->

        <!--The question card -->
        <div class="card" style="height: 100%;">
          <div class="card-body">

            <form id="question-form" action="/" method="post">
              {% csrf_token %}

              <h4 class="card-title" style="margin-bottom: 20px;">
                  {% if question_data.a %} {{ question_data.a }} {% endif %}
                  {% if show_answer %}
                        <strong>{{ chunk }}</strong>
                    {% else %}

                        <div class="form-group" style="display: inline-block;">
                          <label id='floating-label' for="answer-box" class="bmd-label-floating">{{ question_data.b }}</label>
                          <input type="text" class="form-control" id="answer-box" name="user_answer" size="{{ question_data.b | length }}" autocomplete="off">
                          <span class="bmd-help">Translate into English</span>
                        </div>

                    {% endif %}
                    {% if question_data.c %} {{ question_data.c }} {% endif %}
              </h4>

                <div class="container">

                    <div style="display:inline-block;">
                    {% for lem_item in lem_items %}
                        <div id="lem-{{ lem_item.lem }}" class="btn btn-outline-primary btn-sm" style="pointer-events: none;">{{ lem_item.lem }}</div>
                      {% endfor %}
                    </div>

                    <br><br>

                <div class="row">
                    <div class="col-sm-4">
                        <!--nothing in here either-->
                    </div>
                    <div class="col-sm-4">
                        {% if not show_answer %}
                      <button class="btn btn-primary btn-round" type="submit">submit</button>
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                      <!-- Nothing in here yet-->
                    </div>
                </div>
              </div>

                <input type="hidden" name="question_number" value="{{ question_number }}">
                <input type="hidden" name="second_post" value="False">

            </form>


          </div>
        </div>

        <!-- The answer card -->
        {% if show_answer %}
        <div class="card" style="height: 100%;">

          {% if correct_bool %}
           <div class="card-header-success">
             <h4 class="card-title">Correct!</h4>
           </div>
          {% else %}
            <div class="card-header-danger">
             <h4 class="card-title">Wrong!</h4>
           </div>
          {% endif %}


              <div class="card-body">

                <h4 style="margin-bottom: 20px;">
                    Your answer: <strong>{{ user_answer }}</strong><br>
                    Correct answer: <strong>{{ chunk }}</strong>
                    <br>
                    <br>

                    <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <!--nothing in here either-->
                        </div>
                        <div class="col-sm-4">
                          <div class="row">

                              <a href="{% url 'index' %}?question_number={{ question_number }}" style="margin: 0 auto;">
                                  <button class="btn btn-primary btn-round" type="button">next card</button>
                              </a>

                          </div>
                        </div>
                        <div class="col-sm-4">
                          <!-- Nothing in here yet-->
                        </div>
                    </div>
                  </div>

                </h4>

                <!--<a href="/?question_number={{ question_number }}&answered_correctly={{ correct_bool }}"><button class="btn btn-primary btn-round">next card</button></a>-->

              </div>
                <!--<input type="hidden" name="question_number" value="{{question_number}}">-->
                <!--<input type="hidden" name="answered_correctly" value="{{ correct_bool }}">-->
                <!--<input type="hidden" name="second_post" value="True">-->

            <!--</form>-->
        </div>
        {% endif %}

    {% else %}
        <!--If the user is not authenticated, they are asked to login or register -->
        <br>
        <br>
        <a href="{% url 'registration_register' %}"><button class="btn btn-primary btn-round" type="button">Register</button></a>
        <a href="{% url 'auth_login' %}"><button class="btn btn-primary btn-round" type="button">Sign in</button></a>
    {% endif %}
{% endblock %}
