{% extends "lang_app/base.html" %}

{% block main %}
    <h1>Register For Rango</h1>
    {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="{% url 'index' %}">Return to the homepage</a>

    {% else %}
        Rango says: <strong>Register here!</strong>

        <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <!--Display each form-->
            {% for field in user_form %}
                {{ field.label }} {{ field }}<br>
            {% endfor %}


        <!--Provide button to click to submit the form-->
        <input type="submit" name="submit" value="Register">
        </form>
    {% endif %}


{% endblock %}
